{{- if and (eq .Kind "page") (ne .Layout "archives") (ne .Layout "search") -}}
  {{- $codeTools := resources.Get "js/code-tools.js" | minify -}}
  {{- if not site.Params.assets.disableFingerprinting -}}
    {{- $codeTools = $codeTools | fingerprint -}}
    <script defer crossorigin="anonymous" src="{{ $codeTools.RelPermalink }}" integrity="{{ $codeTools.Data.Integrity }}"></script>
  {{- else -}}
    <script defer crossorigin="anonymous" src="{{ $codeTools.RelPermalink }}"></script>
  {{- end -}}
{{- end -}}
{{- if .IsHome -}}
  {{- $homeParticles := resources.Get "js/home-particles.js" | minify -}}
  {{- if not site.Params.assets.disableFingerprinting -}}
    {{- $homeParticles = $homeParticles | fingerprint -}}
    <script defer crossorigin="anonymous" src="{{ $homeParticles.RelPermalink }}" integrity="{{ $homeParticles.Data.Integrity }}"></script>
  {{- else -}}
    <script defer crossorigin="anonymous" src="{{ $homeParticles.RelPermalink }}"></script>
  {{- end -}}
{{- end -}}
{{- if and (eq .Kind "page") (ne .Layout "archives") (ne .Layout "search") -}}
  {{- $articleToc := resources.Get "js/article-toc.js" | minify -}}
  {{- if not site.Params.assets.disableFingerprinting -}}
    {{- $articleToc = $articleToc | fingerprint -}}
    <script defer crossorigin="anonymous" src="{{ $articleToc.RelPermalink }}" integrity="{{ $articleToc.Data.Integrity }}"></script>
  {{- else -}}
    <script defer crossorigin="anonymous" src="{{ $articleToc.RelPermalink }}"></script>
  {{- end -}}
{{- end -}}
