{{- $siteScript := resources.Get "js/site.js" | minify -}}
{{- if not site.Params.assets.disableFingerprinting -}}
  {{- $siteScript = $siteScript | fingerprint -}}
  <script defer crossorigin="anonymous" src="{{ $siteScript.RelPermalink }}" integrity="{{ $siteScript.Data.Integrity }}"></script>
{{- else -}}
  <script defer crossorigin="anonymous" src="{{ $siteScript.RelPermalink }}"></script>
{{- end -}}

{{- if eq .Layout "river-search" -}}
  {{- $searchScript := resources.Get "js/search.js" | minify -}}
  {{- if not site.Params.assets.disableFingerprinting -}}
    {{- $searchScript = $searchScript | fingerprint -}}
    <script defer crossorigin="anonymous" src="{{ $searchScript.RelPermalink }}" integrity="{{ $searchScript.Data.Integrity }}"></script>
  {{- else -}}
    <script defer crossorigin="anonymous" src="{{ $searchScript.RelPermalink }}"></script>
  {{- end -}}
{{- end -}}

{{- if .IsHome -}}
  {{- $homeFlow := resources.Get "js/home-flow.js" | minify -}}
  {{- if not site.Params.assets.disableFingerprinting -}}
    {{- $homeFlow = $homeFlow | fingerprint -}}
    <script defer crossorigin="anonymous" src="{{ $homeFlow.RelPermalink }}" integrity="{{ $homeFlow.Data.Integrity }}"></script>
  {{- else -}}
    <script defer crossorigin="anonymous" src="{{ $homeFlow.RelPermalink }}"></script>
  {{- end -}}
{{- end -}}

{{- if and (eq .Kind "page") (ne .Layout "archives") (ne .Layout "search") -}}
  {{- $codeTools := resources.Get "js/code-tools.js" | minify -}}
  {{- if not site.Params.assets.disableFingerprinting -}}
    {{- $codeTools = $codeTools | fingerprint -}}
    <script defer crossorigin="anonymous" src="{{ $codeTools.RelPermalink }}" integrity="{{ $codeTools.Data.Integrity }}"></script>
  {{- else -}}
    <script defer crossorigin="anonymous" src="{{ $codeTools.RelPermalink }}"></script>
  {{- end -}}
{{- end -}}

{{- if and (eq .Kind "page") (.Param "ShowToc") -}}
  {{- $articleToc := resources.Get "js/article-toc.js" | minify -}}
  {{- if not site.Params.assets.disableFingerprinting -}}
    {{- $articleToc = $articleToc | fingerprint -}}
    <script defer crossorigin="anonymous" src="{{ $articleToc.RelPermalink }}" integrity="{{ $articleToc.Data.Integrity }}"></script>
  {{- else -}}
    <script defer crossorigin="anonymous" src="{{ $articleToc.RelPermalink }}"></script>
  {{- end -}}
{{- end -}}
